@import '../../styles/variables';

div.navigation {
  margin-top: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p, h1 {
    margin: 0;
  }

   p {
    &:hover {
      cursor: pointer;
    }

    &.active {
      color: $highlight;
    }
  }
}